<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssss.dao.OrderDao">
	
	<resultMap type="Cart" id="cartMap">
		<result column="goodsID" property="goodsID"/>
		<result column="userID" property="userID"/>
		<result column="tag" property="tag"/>
		<result column="quantity" property="quantity"/>
		<result column="stageID" property="stageID"/>
	</resultMap>
	
	<resultMap type="OrderForm" id="orderFormMap">
		<result column="orderID" property="orderID"/>
		<result column="orderCreateTime" property="orderCreateTime"/>
		<result column="orderStage" property="orderStage"/>
		<result column="orderCredit" property="orderCredit"/>
		<result column="state" property="state"/>
		<result column="orderSendTime" property="orderSendTime"/>
		<result column="orderReachTime" property="orderReachTime"/>
		<result column="orderPrice" property="orderPrice"/>
		<result column="userID" property="userID"/>
		<result column="address" property="address"/>
		<result column="reciever" property="reciever"/>
		<result column="phone" property="phone"/>
	</resultMap>
	
	<resultMap type="OrderDetail" id="orderDetailMap">
		<result column="orderID" property="orderID"/>
		<result column="deadline" property="deadline"/>
		<result column="stageNo" property="stageNo"/>
		<result column="state" property="state"/>
		<result column="stageMoney" property="stageMoney"/>
		<result column="stagePayTime" property="stagePayTime"/>
	</resultMap>
	
	
	<resultMap type="GoodsInOrder" id="goodsInOrderMap">
		<result column="orderID" property="orderID"/>
		<result column="goodsID" property="goodsID"/>
		<result column="tag" property="tag"/>
		<result column="quantity" property="quantity"/>
		<result column="state" property="state"/>
		<result column="reason" property="reason"/>
	</resultMap>
	
	<insert id="addCart" parameterType="Cart">
		insert into cart(goodsID,userID,tag,quantity,stageID) values(#{goodsID},#{userID},#{tag},#{quantity},#{stageID})
	</insert>
	
	<update id="updateCartQuantity" parameterType="Cart">
		update cart set quantity = #{quantity}
    where userID=#{userID} and goodsID=#{goodsID} and stageID=#{stageID} and tag=#{tag}
	</update>
	
	<select id="findCartByUserID" parameterType="Integer" resultMap="cartMap">
		select * from cart where userID=#{userID} ORDER BY stageID
	</select>
	
	<select id="findGoodsInOrderByOrderID" parameterType="GoodsInOrder" resultMap="goodsInOrderMap">
		select * from goodsinorder where orderID = #{orderID}
	</select>
	
	<select id="findIfExist" parameterType="Cart" resultType="Cart">
		select * from cart where userID=#{userID} and goodsID=#{goodsID} and tag =#{tag} and stageID=#{stageID}
	</select>
	
	<!--根据userID查找所有该user的所有order-->
	<select id="selectOrderByUserID" parameterType="Integer" resultMap="orderFormMap">
		select * from orderform where userID = #{userID} order by state
	</select>
	
	<select id="findDetailByOrderID" parameterType="Integer" resultMap="orderDetailMap">
		select * from orderdetail where orderID = #{orderID}  order by stageNo
	</select>
	
	<select id="findOrderDetail" parameterType="OrderDetail" resultType="OrderDetail">
		select * from orderdetail where orderID = #{orderID} and stageNo =#{stageNo}
	</select>
	
	<select id="findByID" parameterType="Integer" resultType="OrderForm">
		select * from orderform where orderID = #{orderID}
	</select>
	
	<delete id="deleteCartByID" parameterType="Integer"> 
		delete from cart where userID=#{userID}
	</delete>
	
	<delete id="deleteCartByAll" parameterType="Cart"> 
		delete from cart where userID=#{userID} and goodsID=#{goodsID} and stageID=#{stageID} and tag=#{tag}
	</delete>
	
	<insert id="addOrderForm" useGeneratedKeys="true" keyProperty="orderID" parameterType="orderForm">
		insert into orderform(orderID,orderCreateTime,orderStage,orderCredit,state,orderSendTime,orderReachTime,orderPrice,userID,address,reciever,phone) values(null,#{orderCreateTime},#{orderStage},#{orderCredit},#{state},#{orderSendTime},#{orderReachTime},#{orderPrice},#{userID},#{address},#{reciever},#{phone})
	</insert>
	
	<insert id="addGoodsInOrder" parameterType="GoodsInOrder">
		insert into goodsinorder(goodsID,orderID,tag,quantity,state,reason) 
		values(#{goodsID},#{orderID},#{tag},#{quantity},#{state},null)
	</insert>
	
	<insert id="addOrderDetail" parameterType="OrderDetail">
		insert into orderdetail(orderID,deadline,stageNo,state,stageMoney,stagePayTime) 
		values(#{orderID},#{deadline},#{stageNo},#{state},#{stageMoney},#{stagePayTime})
	</insert>
	
	<update id="updateOrder" parameterType="OrderForm">
		update orderform set state = #{state},orderSendTime=#{orderSendTime},orderReachTime=#{orderReachTime},orderPrice=#{orderPrice}
		where orderID=#{orderID}
	</update>
	
	<update id="updateGoodsInOrder" parameterType="GoodsInOrder">
		update goodsinorder set state = #{state},reason=#{reason}  
		where orderID=#{orderID} and goodsID=#{goodsID} and tag =#{tag}
	</update>
	
	<update id="updateOrderDetailPayTime" parameterType="OrderDetail">
		update orderdetail set stagePayTime = #{stagePayTime}  where orderID=#{orderID} and stageNo=#{stageNo}
	</update>
	
	<update id="updateOrderDetailState" parameterType="OrderDetail">
		update orderdetail set state = #{state}  where orderID=#{orderID} and stageNo=#{stageNo}
	</update>
	
	<update id="updateOrderDetail" parameterType="OrderDetail">
		update orderdetail set state = #{state},stagePayTime = #{stagePayTime},stageMoney=#{stageMoney} where orderID=#{orderID} and stageNo=#{stageNo}
	</update>
</mapper>